useDynLib(methylPipe, .registration=TRUE)
import(methods)
import(S4Vectors)
import(IRanges)
import(GenomicRanges)
import(SummarizedExperiment)
import(Biostrings)
import(Rsamtools)
import(Gviz)

importFrom(GenomicAlignments,readGAlignments,seqnames, width, coverage)
importFrom(marray, maPalette)
importFrom(gplots, heatmap.2)
importFrom(BiocGenerics,rbind, width, strand, "strand<-", as.data.frame, unlist)
importFrom(parallel, makeCluster)
importFrom(data.table,fread)
importFrom(GenomeInfoDb,seqlengths,"seqlengths<-",seqnames)
importFrom("grDevices", "dev.new", "rainbow")
importFrom("graphics", "axis", "box", "hist", "lines", "mtext",
             "pairs", "par", "plot", "points", "rect", "text")
importFrom("stats", "binom.test", "cor.test", "dist", "hclust",
             "kruskal.test", "p.adjust", "pchisq", "smooth.spline",
             "wilcox.test")
importFrom("utils", "write.table")
importMethodsFrom(parallel, clusterApplyLB, clusterEvalQ)

exportPattern("^[^\\.]")

exportClasses(GEcollection, GElist, BSdata, BSdataSet)
exportMethods("[[", "[[<-", "[", "$", show, chr, binC, binmC, binrC, nbins, binscore,
              "binscore<-", mCsmoothing, findDMR, methstats)
